<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="shortcut icon"
      href="https://flowbite.com/docs/images/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body class="bg-gray-200">
    <div class="container mx-auto">
      <!-- Header -->
      <div class="w-full bg-white drop-shadow-xl py-4">
        <%- include('header'); -%>
      </div>
      <!-- Header -->
      <!-- Main -->
      <div
        class="w-full bg-gray-100 content-center p-3 space-y-5 md:h-screen md:flex md:justify-center md:items-center"
      >
        <div class="w-full md:w-9/12 md:mx-auto mb-10">
          <h1
            class="text-2xl mb-10 max-w-xs mx-auto font-bold border-b-2 border-blue-500 py-4 text-center"
          >
            About Us
          </h1>

          <p class="text-justify text-gray-500 p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            ex, aperiam itaque vero sit corrupti facere molestiae odio nam esse
            neque tenetur dolorum voluptatem quae exercitationem explicabo
            deserunt velit nisi nihil sed. Aspernatur, itaque obcaecati, totam
            officiis perspiciatis ipsum ducimus soluta laboriosam accusamus
            nesciunt vero corrupti, blanditiis quis veniam. Molestiae quasi
            soluta voluptatibus? Quia dicta possimus mollitia aspernatur
            perferendis, nulla vitae non commodi aperiam eveniet minima. Optio,
            assumenda nihil soluta totam libero ad quam id fuga voluptates qui
            dignissimos cumque pariatur, animi asperiores at explicabo
            architecto, sunt voluptas molestiae ipsa. Culpa fugit quo ad
            incidunt libero beatae inventore cum adipisci. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. <br /><br />
            Nihil, a. Rerum pariatur, dignissimos nostrum quaerat, illum aperiam
            est perferendis fugit at praesentium odio exercitationem autem!
            Pariatur, harum. Officia, inventore. Sit ratione expedita debitis
            accusantium nobis, labore odio illo aperiam similique, quaerat
            pariatur dicta obcaecati deleniti maiores autem quia temporibus
            tenetur deserunt delectus assumenda voluptatem ut, sequi minus
            distinctio! Culpa eaque voluptatem sed itaque, maxime tempore
            impedit error cum atque dicta aut fugiat ab, quas reiciendis
            necessitatibus consectetur praesentium sapiente quos, adipisci vel
            laboriosam. Eveniet beatae amet reiciendis animi perspiciatis
            facilis magnam minus cumque! Repellendus, dicta nisi modi eaque
            pariatur at!
          </p>
        </div>
      </div>
      <!-- Main -->
      <!-- footer -->
      <div class="w-full"><%- include('footer'); -%></div>
      <!-- footer -->
    </div>

    <script src="./assets/js/flowbite.js"></script>
  </body>
</html>
