<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="shortcut icon"
      href="https://flowbite.com/docs/images/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body class="bg-gray-300">
    <div class="container mx-auto">
      <!-- Header -->
      <div class="w-full bg-white drop-shadow-xl py-4">
        <%- include('header'); -%>
      </div>
      <!-- Header -->
      <!-- Main -->

      <div class="w-full bg-gray-100 p-8">
        <h1 class="text-2xl text-gray-600 font-bold text-center mb-5">
          <%= title %>
        </h1>
        <!-- drawer component -->
        <div
          id="drawer-contact"
          class="w-full md:w-7/12 bg-white rounded-md p-12 mx-auto"
        >
          <form action="/contact" method="post" class="mb-6">
            <div class="mb-6">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your email</label
              >
              <input
                type="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="name@company.com"
                required=""
                name="email"
              />
            </div>
            <div class="mb-6">
              <label
                for="subject"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Subject</label
              >
              <input
                type="text"
                id="subject"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Let us know how we can help you"
                required=""
                name="subject"
              />
            </div>
            <div class="mb-6">
              <label
                for="message"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                >Your message</label
              >
              <textarea
                id="message"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Your message..."
                name="message"
              ></textarea>
            </div>
            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
            >
              Send message
            </button>
          </form>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <a href="#" class="hover:underline">info@company.com</a>
          </p>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            <a href="#" class="hover:underline">212-456-7890</a>
          </p>
        </div>
      </div>
      <!-- Main -->
      <!-- footer -->
      <div class="w-full"><%- include('footer'); -%></div>
      <!-- footer -->
    </div>

    <script src="./assets/js/flowbite.js"></script>
  </body>
</html>
