<footer class="p-2 bg-blue-600">
  <span class="block text-sm text-white sm:text-center"
    >&copy; 2022
    <a
      href="https://flowbite.com/"
      class="text-gray-300 hover:underline hover:text-white"
      >Flowbite™</a
    >. All Rights Reserved.
  </span>
</footer>
